<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle">Painel</h1>
            <span class="mainDescription"></span>
        </div>
    </div>
</section>
<!--<div ng-controller="dashCtrl">
    <div class="container-fluid container-fullw" ng-if="userInfo.isAdmin">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-7 col-lg-8">
                    <div class="panel panel-white no-radius" id="visits">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title">Inscrições </h4>
                        </div>
                        <div collapse="visits" ng-init="visits=false" class="panel-wrapper">
                            <div class="panel-body">
                                <div ng-controller="InscritosCtrl" class="height-350">
                                    <canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
                                    <div class="margin-top-20">
                                        <div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
                                        <div class="pull-right">
                                            <form role="form" class="form-inline">
                                                <div class="form-group">
                                                    <select name="selectAno2" id="selectAno2" ng-model="ano2">
                                                        <option data-ng-repeat="option in selectAno" ng-value="{{option.ano}}">{{option.ano}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="selectAno1" id="selectAno1" ng-model="ano1" ng-init="ano1">
                                                        <option ng-repeat="option2 in selectAno" ng-value="{{option2.ano}}">{{option2.ano}}</option>
                                                    </select>
                                                </div>
                                                <button ng-click="getAno()" class="btn">Filtrar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4" ng-controller="ClientesPendentesCtrl">
                    <div class="panel panel-white">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title">Clientes Pendentes <span class="text-danger">( {{selection.length}} / {{clientesPendentes.length}} ) </span></h4>
                            <ul class="panel-heading-tabs border-light">
                                <li>
                                    <div class="pull-right">
                                        <div class="btn-group" dropdown is-open="status.isopen">
                                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                                Ação <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right bullet" role="menu">
                                                <li>
                                                    <a ng-click="inativarSelecionados()">
                                                        Inativar Selecionados
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="checkbox clip-check check-primary">
                                                    <input type="checkbox" id="checkAll" ng-init="false" ng-model="selectedAll" ng-click="checkAll()">
                                                    <label for="checkAll"></label>
                                                </div>
                                            </td>
                                            <td>Nome</td>
                                            <td>Telefone</td>
                                            <td>Celular</td>
                                        </tr>
                                        <tr ng-repeat="cliente in clientesPendentes | orderBy: 'Nome'">
                                            <td>
                                                <div class="checkbox clip-check check-primary">
                                                    <input type="checkbox" id="{{cliente.ClienteId}}" value="{{cliente}}"
                                                           ng-model="cliente.Selected"
                                                           ng-checked="selection.indexOf(cliente) > -1"
                                                           ng-click="toggleSelection(cliente)">
                                                    <label for="{{cliente.ClienteId}}"></label>
                                                </div>
                                            </td>
                                            <td>{{cliente.Nome}}</td>
                                            <td>{{cliente.Telefone}}</td>
                                            <td>{{cliente.Celular}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="margin-top-20">
                                    <div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid container-fullw bg-white" ng-controller="lastDespesasCtrl">
            <div class="row">
                <div class="col-sm-8" >
                    <div class="panel panel-white no-radius">
                        <div class="panel-body">
                            <div class="partition-light-grey padding-15 text-center margin-bottom-20">
                                <h4 class="no-margin">Despesas</h4>
                                <span class="text-light">despesas pendentes com vencimento neste mês</span>
                            </div>
                            <table class="table margin-bottom-0">
                                <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>SubCategoria</th>
                                    <th>Dt. Vencimento</th>
                                    <th>Valor</th>
                                    <th>Situação</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in despesas | filter: {Situacao: 'Pendente'}">
                                        <td>{{d.CategoriaFinanceira.Categoria}}</td>    
                                        <td>{{d.SubCategoriaFinanceira.SubCategoria}}</td>    
                                        <td>{{d.DataVencimento | date:'dd/MM/yyyy'}}</td>    
                                        <td><span class="text-danger">{{d.ValorTotal | currency}} </span></td>    
                                        <td>{{d.Situacao}}</td>    
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" >
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading border-bottom">
                            <h4 class="panel-title">Despesas Pendentes</h4>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="mini-pie width-200"> <canvas class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="data" chart-legend="chart3" width="150"></canvas> <span></span> </span>
                                <span class="inline text-large no-wrap">{{total | currency}}</span>
                            </div>
                            <div class="margin-top-20 text-center legend-xs">
                                <div tc-chartjs-legend chart-legend="chart3" class="inline"></div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="container-fluid container-fullw" ng-if="!userInfo.isAdmin">
        <h3>Bem Vindo, {{userInfo.nome}}</h3>
    </div>
</div>-->
