<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Cadastrar Cliente</h1>
            <span class="mainDescription">Formulário de cadastro do cliente.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FORM VALIDATION -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">           
            <span class="symbol required"> Campos Obrigatórios</span>

            <form name="Form" id="form" novalidate ng-submit="form.submit(Form)">

                <div class="row">
                    <fieldset>
                        <legend>
                            Dados do Cliente
                        </legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':Form.nome.$dirty && Form.nome.$invalid, 'has-success':Form.nome.$valid}">
                                    <label class="control-label">
                                        Nome <span class="symbol required"></span>
                                    </label>
                                    <input type="text" placeholder="Nome Completo" class="form-control" name="nome" ng-model="cliente.Nome" required />
                                    <span class="error text-small block" ng-if="Form.nome.$dirty && Form.nome.$invalid">Informe o Nome</span>
                                </div>
                            </div>                            
                        </div>
                    </fieldset>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary"> Cadastrar </button>
                            <button type="button" class="btn btn-warning btn-addon" data-ng-click="$back()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
