<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Projetos</h1>
            <span class="mainDescription">
            </span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading"><img src="/assets/images/loading.gif" />Carregando Projetos...</div>
<div class="container-fluid container-fullw bg-white" ng-show="!loading">
    <div class="row">
        <div class="col-md-6">
            <button type="button" ng-disabled="createProjeto" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="createProjeto = !createProjeto">
                <span>Cadastrar</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tr ng-show="createProjeto">
                        <td colspan="12" ng-include src="'app/views/entidadesProjetos/create.html'"></td>
                    </tr>
                </table>
                <table ng-table="tableParams" class="table">
                    <tbody ng-repeat="p in $data">
                    <tr id="tr{{p.EP_ID}}" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td class="rowTd" data-title="'Código'" sortable="'PRO_COD'">{{p.PRO_COD}}</td>
                        <td class="rowTd" data-title="'Data Limite'" sortable="'EP_DATA_LIMITE'">{{p.EP_DATA_LIMITE | date:'dd/MM/yyyy'}}</td>
                        <td class="rowTd" data-title="'Valor'" sortable="'EP_VALOR'">{{p.EP_VALOR | currency}}</td>
                        <td class="text-right">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a ng-click="setEditId(p.EP_ID)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar" id="editRowBtn{{p.EP_ID}}"><i class="fa fa-pencil"></i></a>
                                <a ng-click="delete(p.EP_ID)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Excluir"><i class="fa fa-times"></i></a>                                
                            </div>
                        </td>
                    </tr>
                        <tr ng-show="editId===p.EP_ID" ng-if="editId===p.EP_ID">
                            <td colspan="4" ng-include src="'app/views/entidadesProjetos/edit.html'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
