<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Entidades</h1>
            <span class="mainDescription">Gerenciamento das Entidades</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading"><img src="/assets/images/loading.gif" />Carregando Entidades...</div>
<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw" ng-show="!loading">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-12">
                        <span class="pull-left "><input type="button" value="Cadastrar" ng-click="cadastrar()" /></span>

                        <div class="button-group pull-right margin-right-10">
                            <h5 class="pull-left ">Total: <span class="badge badge-info">{{total}}</span></h5>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="tableClientes" ng-table="tableParams" class="table table-striped export-table">
                        <tr ng-repeat="p in data">
                            <td class="rowTd" title="vm.cols[0].title" ng-show="vm.cols[0].show" sortable="'ENT_COD'"> {{p.ENT_COD}}</td>
                            <td class="rowTd" title="vm.cols[1].title" ng-show="vm.cols[1].show" sortable="'ENT_NOME'">{{p.ENT_NOME}}</td>
                            <td class="rowTd" title="vm.cols[2].title" ng-show="vm.cols[2].show" sortable="'ENT_FANTASIA'">{{p.ENT_FANTASIA}}</td>
                            <td class="rowTd" title="vm.cols[3].title" ng-show="vm.cols[3].show" sortable="'ENT_TP_FISCAL'">{{p.ENT_TP_FISCAL}}</td>
                            <td class="rowTd" title="vm.cols[4].title" ng-show="vm.cols[4].show" sortable="'DT_CAD'">{{p.ENT_DT_CAD | date:'dd/MM/yyyy'}}</td>
                            <td class="rowTd" title="vm.cols[5].title" ng-show="vm.cols[5].show" sortable="'ENT_STATUS'">{{p.ENT_STATUS}}</td>

                            <td class="text-right">
                                <a ui-sref="app.entidades.editar({id: p.ENT_COD})" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil"></i></a>
                                <a ui-sref="app.entidades.projetos({idEntidade: p.ENT_COD})" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Projetos"><i class="fa fa-list-ul"></i></a>
                                <a ng-click="delete(p.ENT_COD)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </table>
                    <pagination data-total-items="totalItems" ng-model="currentPage" data-max-size="NumberOfPageButtons" class="pagination-sm" data-boundary-links="true" data-rotate="false" ng-change="pageChanged()" data-items-per-page="recordsPerPage"></pagination>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->

<!--<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>COD</th>
            <th>NOME</th>
            <th>FANTASIA</th>
        </tr>
    </thead>
    <tbody data-ng-repeat="i in data">
        <tr>
            <td> {{i.ENT_COD}} </td>
            <td>{{i.ENT_NOME}} </td>
            <td> {{i.ENT_FANTASIA}} </td>
        </tr>
    </tbody>
</table>

<pagination data-total-items="totalItems" ng-model="currentPage" data-max-size="NumberOfPageButtons" class="pagination-sm" data-boundary-links="true" data-rotate="false" ng-change="pageChanged()" data-items-per-page="recordsPerPage"></pagination>-->